<div class="modal-header">
    <div>
        <h5 class="modal-title">Adicionar usuário</h5>
        <p class="modal-subtitle">Aqui você adiciona e configura os usuários que fazem parte da sua equipe</p>
    </div>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <!-- Linha para o nome e sobrenome -->
        <div class="mb-3 row">
            <div class="col">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" required formControlName="nome" placeholder="Diego">
                <div *ngIf="usuarioForm.get('nome')?.invalid && usuarioForm.get('nome')?.touched" class="text-danger">
                    O nome é obrigatório.
                </div>
            </div>
            <div class="col">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" required formControlName="sobrenome" placeholder="Souza">
                <div *ngIf="usuarioForm.get('sobrenome')?.invalid && usuarioForm.get('sobrenome')?.touched"
                    class="text-danger">
                    O sobrenome é obrigatório.
                </div>
            </div>
        </div>

        <!-- Linha para o telefone e e-mail -->
        <div class="mb-3 row">
            <div class="col">
                <label for="telefone" class="form-label">Telefone - Opcional</label>
                <input type="tel" class="form-control" formControlName="telefone" (blur)="formatarTelefone()"
                    placeholder="+55 (99) 9999-9999" maxlength="19" #telefone>
            </div>
            <div class=" col">
                <label for="email" class="form-label">E-mail corporativo</label>
                <div class="input-group">
                    <span class="input-group-text btn-bg-white" id="basic-addon2">
                        <i class="far fa-envelope"></i>
                    </span>
                    <input type="email" class="form-control" formControlName="email" required
                        placeholder="diego@email.com" aria-label="Mail">
                </div>
                <div *ngIf="usuarioForm.get('email')?.touched && usuarioForm.get('email')?.invalid" class="text-danger">
                    O e-mail é obrigatório.
                </div>
            </div>
        </div>

        <!-- Perfil de acesso -->
        <div class="mb-3">
            <label for="perfil" class="form-label">Perfil de acesso</label>
            <input type="text" class="form-control" formControlName="perfil" placeholder="Supervisor, Analista">
        </div>

        <!-- Linha para o idioma e contato preferencial -->
        <div class="mb-3 row">
            <div class="col">
                <label for="idioma" class="form-label">Idioma</label>
                <select class="form-select btn-bg-white" required formControlName="idioma">
                    <option value="Português BR">Português BR</option>
                    <!-- Outras opções de idioma -->
                </select>
            </div>
            <div class="col">
                <!-- Coloquei o grupo de radio buttons dentro de um form group chamado 'contatoPreferencial' -->
                <label class="form-label mg-b-1">Contato preferencial - Opcional</label>
                <div formGroupName="contatoPreferencial" class="d-flex">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="emailPreferencial" value="email"
                            formControlName="preferencial">
                        <label class="form-check-label" for="emailPreferencial">E-mail</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="telefonePreferencial" value="telefone"
                            formControlName="preferencial">
                        <label class="form-check-label" for="telefonePreferencial">Telefone</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="todosPreferencial" value="todos"
                            formControlName="preferencial">
                        <label class="form-check-label" for="todosPreferencial">Todos</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-transparent-border flex-grow-1" (click)="closeModal()">Fechar</button>
            <button type="submit" class="btn btn-primary rounded flex-grow-1">Enviar convite</button>
        </div>
    </form>
</div>

<div *ngIf="showSuccessAlert" class="alert alert-success margin" role="alert">
    Formulário concluído com sucesso!
</div>